@(title: String, pageName: String, message: String)

@base(title, pageName) {

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>@message</h1>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-6">
				<i class="fa fa-line-chart"></i>
				<h4>RECENT ACTIVITY</h4>
				<p>最近の音源の使用状況</p>
				<div id="recent-activity"></div>
			</div><!-- col-lg-4 -->

			<div class="col-lg-6">
				<i class="fa fa-child"></i>
				<h4>NEWCOMER</h4>
				<p>新規登録された音源</p>
				<div id="newcomer"></div>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->		
}{
	<script id="recent-activity-tmpl" type="text/x-handlebars-template">
	<table class="table table-striped table-condensed">
		<tbody>
			{{#each recentActivities}}
				<tr><td><a href="/voicebank/{{id}}">{{name}}</a>が歌っています</td><td><small>{{timestamp}}</small></td></tr>
			{{/each}}
		</tbody>
	</table>
	</script>
	<script id="newcomer-tmpl" type="text/x-handlebars-template">
	<table class="table table-striped table-condensed">
		<tbody>
			{{#each newcomers}}
				<tr><td><a href="/voicebank/{{id}}">{{name}}</a>が登録されました</td><td><small>{{registTime}}</small></td></tr>
			{{/each}}
		</tbody>
	</table>
	</script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/render-index.js")'></script>
}
