@(title: String, pageName: String, message: String)

@base(title, pageName) {

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>VOICE BANKS LIST</h4>
				<p>CHECK SOME VOICE BANKS</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->


	<div class="container w">
		<div class="row centered">
            <div class="col-lg-6">
                <select id="sortSelector" class="selectpicker">
                    <option data-sort="updateTime" data-order="desc" selected>歌唱日時が新しい順</option>
                    <option data-sort="updateTime" data-order="asc">歌唱日時が古い順</option>
                    <option data-sort="registTime" data-order="desc">登録日時が新しい順</option>
                    <option data-sort="registTime" data-order="asc">登録日時が古い順</option>
                </select>
                <select id="pageSizeSelector" class="selectpicker">
                    <option value="20" selected>20件表示</option>
                    <option value="50">50件表示</option>
                    <option value="100">100件表示</option>
                </select>
            </div>
		    <div class="col-lg-6">
            </div>
			<div class="col-lg-12" id="voicebanks"></div>
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
	
}{
	<script id="all-voicebanks-tmpl" type="text/x-handlebars-template">
	<div>
	    <p class="text-right">登録件数: {{voicebanksCount}}件</p>
    </div>
	<table class="table table-striped  table-condensed">
		<thead><tr><th>名前</th><th>登録日</th><th>最新の歌唱日</th></tr></thead>
		<tbody>
			{{#each voicebanks}}
				<tr><td><a href="/voicebank/{{id}}">{{name}}</a></td><td><small>{{registTime}}</small></td><td><small>{{updateTime}}</small></td></tr>
			{{/each}}
		</tbody>
	</table>
    <div>
        {{#if prev.exist}}
            <button type="button" class="page-button btn btn-default btn-xs" data-page="{{prev.page}}"><< prev</button>
        {{/if}}
        {{#each pagesCount}}
            <button type="button" class="page-button btn btn-xs {{#if active}}btn-primary{{else}}btn-default{{/if}}" data-page="{{page}}" {{#if active}}disabled{{/if}}>{{page}}</button>
        {{/each}}
        {{#if next.exist}}
            <button type="button" class="page-button btn btn-default btn-xs" data-page="{{next.page}}">next>></button>
        {{/if}}
    </div>
	</script>
	
    <script>
    	var page = 0;
    	var $pageSize = $("#pageSizeSelector");
    	var $sortOrder = $("#sortSelector");
    </script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/render-voicebanks.js")'></script>
}
